<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BLANK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
      <link rel="stylesheet" href="home.page.css">
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="card">
      <img src="assets/img/eu.jpeg" alt="Foto de Perfil" class="avatar">

      <h2>Rafhael de Sousa</h2>
      <p><strong>MATRICULA:</strong>24105114</p>
      <p>Ads301m</p>
      <button>Ver mais</button>
    </div>
  </div>
</ion-content>
